@{
    ViewData["Title"] = "Home Page";
}

    <div class="img-container">

        <div class="card">
            <div class="text-center">
                <h1>Welcome to #Flix</h1>
                <ul class="button-container--column">
                    <li><p>Don't have an account</p></li>
                    <li class="button-column"><a asp-controller="Home" asp-action="SignUp" class="button">Register</a></li>
                    <li>Or</li>
                    <li class="button-column"><a asp-controller="Home" asp-action="Login" class="button">Log-in</a></li>
                </ul>
            </div>
        </div>
    </div>