
@{
    ViewData["Title"] = "Sign Up";

}


<h1> Sign Up #FLIX</h1>

<form action="/User/SignUp" method="post">
<input type="text" placeholder="Username" required="" name="username" class="form-input" />
<input type="email" placeholder="Email" required="" name="emailAddress" class="form-input" />
<input type="password" required="" placeholder="Password" name="password" class="form-input" />
<input type="text" placeholder="FirstName" name="firstName" class="form-input" />
<input type="text" placeholder="LastName" name="lastName" class="form-input" />
<input type="submit" value="Sign-up" class="button" />
</form>