@{
    ViewData["Title"] = "#Flix";

}


<div class="container--column pt-40">


    <form class="card center">
        <h1>@ViewBag.title</h1>
        <select name="playlist" class="form-input from-input--extended">
            @foreach (var playlist in ViewBag.playlist)
            {
                <option value="@playlist.Title">@playlist.Title</option>
            }
        </select>
        <input type="submit" class="button" value="Add" />
    </form>
</div>