@{
    ViewData["Title"] = "#Flix";

}
    <div class="container pt-40">
        <div class="head">
            <h1 class="text-white">Welcome, @ViewBag.Username to #Flix</h1>
            <a href="" class="user--icon__white"><img class="user--icon" src="/images/usericon.svg"/></a>
        </div>
        <div class="moviesection">
            <ul>
            </ul>
        </div>
    </div>