@{
    ViewData["Title"] = "#Flix";

}

<div class="container">
    <div class="left-panel pt-40">
        <h1 class="text-white">@ViewBag.Username</h1>
        <img class="user--icon" src="/images/usericon.svg" />
        <ul>
            <li><a class="text-white" asp-controller="Home" asp-action="Playlist">Playlist</a></li>
            <li><a class="text-white" asp-controller="Home" asp-action="LogIn">Log out</a></li>
        </ul>
    </div>
    <div class="main-section pt-40">
        <h1 class="text-white">Welcome, @ViewBag.Username to #Flix</h1>

        <ul>
            @foreach(var movie in ViewBag.movieList)
            {
                <li>
                    <h1>@movie.original_title</h1>
                    <img src="https://image.tmdb.org/t/p/w154/@movie.poster_path" />
                </li>
            }
        </ul>
    </div>
</div>