body {
    margin: 0 auto;
    min-height: 100vh;
    text-align: center;
    background: #402A2E;
    height: 100vh;
}

main {
    min-height: 100vh;
}

h1 {
    margin: 0 auto;
    margin-bottom: 15px;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    margin-top: 0px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 20px;
}

li:last-child {
    margin-bottom: 0px;
}

a {
    text-decoration: none;
}

.img-container {
    background: url("/images/wp1945897-movie-posters-wallpapers.jpg");
    background-size: contain;
    height: 100vh;
    display: flex;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
}

.card {
    max-width: 375px;
    box-shadow: 0 10px 20px 0 black;
    background: white;
    padding: 20px 15px;
    display: flex;
    flex-flow: column;
    min-width: 250px;
    border-radius: 1rem;
}

.card--min {
    min-width: 125px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    background: #73565B;
    width: 97%;
    color: #fff;
    font-size: 16px;
    border: none;
    border-radius: 1rem;
}

.form-input {
    display: block;
    width: 88%;
    padding: 14px;
    border: 1px solid #dadada;
    border-radius: 4px;
    background-color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin-bottom: 10px;
}

.from-input--extended{
    width: 97%;
}

.head{
    display: flex;
    flex-flow: row;
}

.text-white {
    color: white;
}

.user--icon {
    height: 70px;
    margin-bottom: 20px;
}


.container{
    display: flex;
    flex-flow: row;
}

.container--row {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
}

.container--column {
    display: flex;
    flex-flow: column;
    align-items: center;
}

.left-panel {
    background: #BFA9A4;
    flex: 1;
    padding: 20px;
    height: 100vh;
}

.main-section {
    flex: 6;
    padding: 15px;
    height: 100vh;
    overflow: scroll;
}



.pt-40 {
    padding-top: 40px;
}

.mt-20{
    margin-top:20px;
}

.movies--row {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.center{
    text-align: center;
}

.hidden{
    display:none;
}